*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html, body{
  height:100%;
}

body{
  font-family:'Roboto', sans-serif;
  font-size:16px;
  background-color:white;
  color:#263238;
}

a{
  text-decoration:none;
  color:#263238;
  &:hover{
    text-decoration:underline;
  }
}

ul{
  list-style-type:none;
}

input{
  width:100%;
  padding:0 0.5em;
  display:block;
  border:none;
  outline:none;
  &:focus{
    outline:none;
  }
}

button{
  border:none;
  outline:none;
  color:#263238;
  font-weight:600;
  cursor:pointer;
  &:focus{
    outline:none;
  }
  &.primary{
    background-color:#212dce;
    color:white;
    box-shadow:0px 0px 2px #212dce;
    &:hover{
      box-shadow:0px 0px 5px #212dce;
    }
    &:disabled{
      background-color:#bdbdbd;
      color:#263238;
      box-shadow:0px 0px 2px #bdbdb;
      &:hover{
        box-shadow:0px 0px 5px #bdbdbd;
      }
    }
  }
}